a.portal-button {
    display: flex;
    background: #f2930d;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 50;
    border-radius: 40px;
    align-items: center;
    color: #fff;
    font-size: 15px;
    padding: 18px 15px;
    -moz-column-gap: 10px;
    column-gap: 10px;
}
.page-template .article-header {
    display: none !important;
}
.gh-canvas>* {
    grid-column: wide-start/wide-end;
}
.page-template .page {
    padding: 4vmin 0;
}

.page-template  .article-title {
    display: none;
}
.step-section {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    margin-bottom: 50px;
}

.step-wrap .step-wrap {
    background: #2c2c3c;
    border-radius: 10px;
    padding: 60px;
}
#copy,#discord {
    cursor: pointer;
}
.step-section:nth-child(even) .step-image {
    order: 5;
}

.step-wrap .step-wrap strong {
    margin-bottom: 10px;
    font-size: 18px;
    color: #eb871e;
}

.step-wrap .step-wrap h1 {
    font-weight: 900;
    font-size: 35px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 15px;
}

.step-section:nth-child(even) {
    text-align: right;
}
.staff-members {
    grid-template-columns: repeat(4,minmax(0,1fr))!important;
    display: grid!important;
    gap: 24px;
    margin-bottom: 25px;
}

.gh-canvas > div {
    grid-column: wide-start/wide-end;
}

.staff-member {
    background: #2c2c3c;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.staff-member > .name {
    background: #2c2c3c;
    padding: 20px;
    border-top: 1px solid #2c2c3c !important;
    text-align: center;
}
.staff-wrap {
    margin-top: 0px !important;
}
.vote-wrap {
    display: flex;
    margin-top: 0px;
    width: 100%;
}
.vote-right {
    display: flex;
    align-items: center;
    flex: 1;
}

.vote-right .vote-text {
    background: #f2930d;
    padding: 20px;
    color: white !important;
    border-radius: 8px;
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 21px;
}

.vote-right > a {
    flex: 1;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
}

.vote-right > a:last-child {
    margin-right: 0px !important;
}

.vote-small {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #2c2c3c;
}
.vote-left {
    background: #2c2c3c;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    border-radius: 10px;
    width: 40%;
    padding: 50px;
    text-align: center;
    margin-right: 40px;
}

.vote-left h2 {
    margin: 0px;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 30px;
    position: relative;
}

.vote-left p {
    font-weight: 500;
    color: grey;
    font-size: 16px;
}

.vote-left h2:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 6px;
    background: #ffb56a;
    width: 40px;
    margin: 0 auto;
    bottom: -13px;
    border-radius: 100px;
}
.badge {
    background: #262626 !important;
    padding: 6px 14px;
    border-radius: 8px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 4px;
    font-size: 14px;
    display: inline-block;
    min-width: 100px;
}
.badge.owner {
    background: #db1e15 !important;
}
.rule-title {
    margin-top: 0px !important;
}
.badge.admin {
    background: #db1e15 !important;
}
.rules-section {
    background: #fff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    border-radius: 8px;
    overflow: hidden;
}
.rule-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
    color: #747474;
}
.rule-wrap > div:not(:last-child) {
    margin-bottom: 30px;
}
.rule-wrap {
    margin-top: 0px !important;
}
.rules-text {
    background: #f7f7f7;
    padding: 20px;
    border-top: 1px
 solid #e7e7e7 !important;
    color: grey;
    font-weight: 500;
    font-size: 15px;
}

.rules-title {
    padding: 20px;
    font-weight: 800;
    font-size: 18px;
}
.badge.mod {
    background: #ffdd00 !important;
}

.badge {
    background: #e16820 !important;
}
.staff-member .avatar {
    margin: 0 auto;
    text-align: center;
    height: 151px;
    overflow: hidden;
}

.staff-member .avatar img {
    margin: 0 auto;
    margin-top: 30px;
}

.staff-member > .name .name {
    font-weight: 800;
    font-size: 20px;
}
.gh-nav > .nav > li:not(:last-child) {
    border-right: 2px solid #ffffff1a !important;
    padding: 5px 0px;
}
.gh-nav > .nav > li > a {
    font-family: 'Titan One', cursive;
    font-size: 26px;
    text-transform: uppercase;
    padding: 15px 30px;
    color: #ffeed7;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 55%);
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}
.gh-nav-extras > a {
    font-family: 'Titan One', cursive;
    font-size: 26px;
    text-transform: uppercase;
    padding: 13px 25px;
    background: #f2930d !important;
    color: white !important;
    margin-left: 30px;
    border-radius: 100px;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 55%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.gh-nav-extras > a > i {
    margin-right: 10px;
}
.gh-nav > .nav > li > a:hover {
    color: white !important;
}
.gh-nav > .nav > li.nav-current > a {
    color: white !important;
}
.gh-nav-extras > a.play i {
    color: #fff;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}
.gh-nav-extras > a.play {
    background: #0000 !important;
    border: 3px solid #fff;
    position: relative;
    margin-left: 20px;
}
.gh-nav-extras > a {
    align-items: center;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}
.gh-nav-extras > a.play:hover i {
    color: white !important;
    opacity: 1;
}
.gh-nav-extras > a.play:hover {
    border-color: white !important;
}
.gh-nav-extras > a.play:hover > span {
    background: #000000a1;
}
.post-card-primary-tag {
    background: #ffdd0075;
    display: inline-block;
    color: white !important;
    padding: 0px 10px;
    border-radius: 100px;
    margin-bottom: 9px !important;
}
header#gh-header:after {content: "";position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-image: url(https://i.imgur.com/20HACLk.png);background-size: cover;opacity: .12;background-position: center;filter: blur(7px);height: 360px;}
.gh-nav-extras > a.play > span {
    position: absolute;
    top: 0;
    right: 0;
    background: #ffdd00;
    font-size: 16px;
    margin: -13px;
    padding: 0px 10px;
    border-radius: 100px;
    text-shadow: 0px 1px 1px rgb(0 0 0 / 35%);
    animation-delay:1s;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}
.top-bar .inner {
    display: flex;
}
.top-bar .inner .right p {
    font-size: 12px;
    font-weight: bold;
    color: #ffe95d;
}
.top-bar .inner .right {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: white;
    text-align: right;
}

.top-bar .inner .right h1,.top-bar .inner .right p {
    margin: 0px;
}

.top-bar .inner .right i {
    order: 5;
    margin-left: 25px;
    font-size: 37px;
    position: relative;
    top: 1px;
}

.top-bar .inner .right h1 {
    font-size: 18px;
    margin-bottom: 1px;
}

.top-bar {
    display: flex;
}

.top-bar .inner .right {
    line-height: 1.4;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 55%);
}
.top-bar {
    height: 82px;
    background: #b75e065c;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 1px solid #f3ac3f;
    box-shadow: inset 0 -1px 0 #c1750a;
}
.gh-nav > .nav > li > a:before {
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    content: "";display: block;position: absolute;left: 0;right: 0;height: 5px;background: #ffb56a;width: 35px;margin: 0 auto;bottom: 0;border-radius: 100px;
}
.gh-nav > .nav > li > a {
    position: relative;
}
.gh-nav > .nav > li.nav-current > a:before {
    opacity: 1 !important;
    background: #fff;
}
.gh-nav > .nav > li > a:hover:before {
    background: #fff;
}
#gh-header {
    background-image: linear-gradient(#febe2b, #fe571e) !important;
}
.gh-bottom {
    display: flex;
    position: relative;
    height: 250px;
    align-items: center;
    margin-left: auto;
    flex: 1;
}
.floatIn {
	transform: translatey(0);
	animation: floatIn 1s ease-in-out;
}
.float {
	transform: translatey(0);
	animation: float 4s ease-in-out infinite;
}
.logo-wrap {
    position: absolute;
    left: -20px;
    width: 255px;
}
@keyframes floatIn {
	0% {
        opacity:0;
		transform: translatey(-15px);
	}
	100% {
        opacity:1;
		transform: translatey(0);
	}
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}
.logo-spacer {
    width: 230px;
}
.gh-nav > .nav {
    list-style: none;
    display: flex;
    align-items: center;
}
.gh-nav > .nav > li {
    margin: 0px;
    padding: 0px;
}
#gh-header {
    padding: 40px 0;
    padding-bottom:100px;
    background: #1e1e29;
}
.gh-head-inner {
    display: flex;
}
.gh-nav {
    margin-right: auto;
}
.gh-nav-extras {
    display: flex;
}
.gh-nav-extras > a.store:hover {
    background: #f2930d !important;
    transform: scale(1.05);
}
.gh-nav-extras > a {
    display: flex;
}
.watermark {
    width: 45px;
    margin-left: auto;
    opacity: .3;
}
.left.socials {
    display: flex;
    align-items: center;
    margin-left: 899px;
    text-shadow: 2px 1px 2px rgb(0 0 0 / 55%);
}
.post-card-byline-content a {
    color: white !important;
}

.left.socials > a {
    font-size: 32px;
    color: white;
    margin-right: 15px;
}
.gh-nav, .gh-nav-extras {
    position: relative;
    top: 15px;
    z-index: 10;
}
.logo-wrap {
    z-index: 10;
}
body {
    font-family: 'Rubik', sans-serif;
    background: #1e1e29;
}
.gh-curve path {fill: #1e1e29;}
.gh-curve.other path {
    fill: #1e1e29 !important;
    z-index: 5;
}
.gh-curve {
    z-index: 2;
}
.gh-curve.otherother path {
    fill: #0000001a !important;
}
.gh-curve.otherother {bottom: 30px;}
.gh-curve.other {bottom: 15px;}
.gh-curve {
    transform: scaleY(-1);
    bottom: -15px;
}
.gh-curve {
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    right: 0;
}
.post-card-content {
    background: #2c2c3c;
    padding: 40px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.post-card-image-link {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#gh-header {
    position: relative;
    margin-bottom: -20px;
}
.article-byline {
    display: none !important;
}

header.article-header.gh-canvas {
    text-align: center;
}
.play-wrap {
    line-height: 1.4;
    text-shadow: 0px 1px 2px #ffffff8c;
    margin-left: auto;
    display: flex;
    align-items: center;
    color: #fff;
    text-align: left;
    margin-right: 50px;
}

.play-wrap h1 {
    font-size: 18px;
    margin-bottom: 1px;
}
.play-wrap {
    order: 1;
    margin-right: 0px !important;
}
.play-wrap i {
    font-size: 32px;
    margin-right: 20px;
}

.play-wrap p {
    font-size: 12px;
    font-weight: bold;
    color: #ffe95d;
}
.article-tag {
    text-align: center;
    justify-content: center;
    color: red !important;
}
.gh-nav-extras > a {
    font-size: 20px !important;
}
.article-tag a {
    color: #f2930d !important;
}

.gh-canvas .article-image img {
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
#gh-header {
    margin-bottom: 10px !important;
}
.gh-curve {
    bottom: 0 !important;
}
.watermark {
    display: none !important;
}
.site-foot .inner {
    justify-content: center;
    text-align: center;
}
.logo-wrap {width: 195px;margin: 0 auto;left: 0;right: 0;margin-top: 130px;}
.logo-spacer {
    display: none;
}
.gh-nav-extras {
    display: none !important;
}
.gh-nav > .nav {
    justify-content: center;
}
.gh-nav > .nav > li:not(:last-child) {
    border: none !important;
    padding: 0px !important;
}
.gh-nav > .nav > li > a {
    text-align: center !important;
    padding: 15px  !important;
    font-size: 19px !important;
}

.gh-bottom {
    height: 105px !important;
}
.gh-nav {
    top: -52px !important;
    width: 100% !important;
}
#gh-header:after {
    height: 200px !important;
}
.left.socials {
    display: none !important;
}
.top-bar .inner .right {
    display: none !important;
}
.gh-nav > .nav > li:not(.active) > a:before {
    display: none !important;
}
.post-card-content {
    text-align: center !important;
}
.post-card-meta {
    display: none !important;
}
.post-card-header {
    margin-top: 0px !important;
}
}

@media only screen and (min-width: 768px) {
.post-card:not(.post-card-large) .post-card-header {
    margin: 0px;
}
.post-card:not(.post-card-large) .post-card-meta {
    display: none;
}
.post-card:not(.post-card-large) .post-card-primary-tag {
    display: none;
}
.post-card-large {
    display: flex !important;
    flex-direction: row !important;
}
.post-card-large .post-card-image-link {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 100%;
    border-radius: 10px;
}
.post-card-large .post-card-content {
    padding:60px;
    border-radius: 10px;
}
.post-card-large .post-card-image-link:after {content: "LATEST";position: absolute;top: 7%;left: -11%;width: 250px;height: 55px;background: #feb22fab;transform: rotate(-45deg);display: flex;align-items: center;justify-content: center;font-weight: 900;color: white !important;letter-spacing: 5px;box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);text-shadow: 0px 1px 2px rgb(0 0 0 / 55%);}
}
/*------------------------------------*/
.foot-top .left a:hover {
    color: #2c2c3c !important;
}

.foot-top .left a {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
.foot-bottom .divider {
    margin-left: 5px;
    margin-right: 10px;
    color: #484f6f;
}
.foot-bottom a {
    color: #a8b1da;
    font-weight: 600;
    font-size: 11px;
}
i.far.fa-copyright {
    opacity: .35;
    margin-right: 8px;
    position: relative;
    top: 1px;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fab, .far {
    font-weight: 400;
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.foot-bottom .inner .right a {
    color: white !important;
    font-size: 14px;
}

.foot-bottom .inner .right small {
    color: #91939b;
    font-weight: 500;
    display: block;
    margin-bottom: -4px;
}

.foot-bottom .inner .right p {
    font-size: 15px;
    font-weight: 600;
    text-align: right;
}

.home-feed.post-feed {grid: none !important;max-width: 500px;margin: 0 auto;margin-bottom: 10px;}
.foot-bottom .inner .right {
    opacity: 0.35;
}
div#foot {
    background: #070b21;
    font-family: 'Rubik', sans-serif;
}

.foot-logo {
    max-width: 63px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.foot-top {
    padding: 12px 0px;
    background: #101841;
    border-top: 1px solid #1b2557 !important;
    border-bottom: 1px solid #1b2557 !important;
}

.foot-top .inner {
    position: relative;
}

.foot-top .inner, .foot-bottom .inner {
    padding-left: 0px;
}

.foot-top .inner {
    display: flex;
    align-items: center;
}

.foot-top .inner .right {
    margin-left: auto;
}

.foot-bottom .inner {
    display: flex;
    align-items: center;
}

.foot-bottom {
    padding: 20px;
}

.foot-bottom .inner .right {
    margin-left: auto;
}

.foot-bottom .inner {
    display: flex;
    align-items: center;
}

.foot-bottom {
    padding: 20px;
}

.foot-bottom p {
    margin-bottom: -2px;
}

.foot-bottom .inner .right {
    margin-left: auto;
}
.foot-bottom .left p {
    font-size: 15px;
    line-height: 1.4;
    font-weight: 500;
}

.foot-bottom .left small {
    display: block;
    opacity: 0.6;

}
.footer-middle {
    background: #191922;
    padding: 50px 0px;
}

.footer-middle .inner {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr))!important;
    grid-gap: 2rem!important;
    gap: 2rem!important;
}
.foot-bottom {
    background: #15151d;
    border-top: 1px solid #15151d !important;
}
.foot-top .left a {
    color: #191922;
    display: inline-flex;
    align-items: center;
    margin-right: 40px;
    font-size: 15px;
}
hr {
    border-color: #151a2f !important;
}
a.view-more img {
    float: left;
    max-width: 23px;
    margin-right: 15px;
}
.foot-top .left a i {
    margin-right: 12px;
    opacity: 0.25;
}
.foot-bottom .end {
    order: -5 !important;
    margin-right: 25px !important;
    position: relative !important;
    top: -3px !important;
}
.foot-top .left {
    display: none !important;
}
.foot-top .inner .right {
    margin: 0 auto !important;
}
.foot-bottom .right,.foot-bottom .end {
    display: none !important;
}

.foot-bottom .left {
    margin: 0 auto !important;
    text-align: center !important;
}

.foot-bottom .left small .divider, .foot-bottom .left small a {
    display: none !important;
}

.foot-bottom .left p {
    font-size: 14px !important;
}

.foot-bottom .left small {
    font-size: 15px !important;
}
.foot-bottom .end {
    order: -5;
    margin-right: 25px;
    position: relative;
    top: -3px;
}
.foot-bottom .inner .right small {
    font-size: 10px;
    line-height: 1.5;
}

.foot-bottom .inner .right p {
    line-height: 1;
    margin-top: 5px;
}
.col-text a:hover {
    opacity: 0.65;
}
.col-text a {
    display: block;
    max-width: 170px;
    border-radius: 5px;
    margin-top: 20px;
    background: #f2930d;
    padding: 15px 20px;
    color: #fff !important;
    transform: scale(1.05);
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600 !important;
    box-shadow: inset 0px -1px 0 rgb(255 255 255 / 20%);
    text-align: center;
}
.col-text a, .block a, a.view-more {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
div#players {
    background: rgb(0 0 0 / 14%);
    padding-left: 15px;
    display: flex;
    align-items: center;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
    cursor: pointer;
}
div#players span {
    background: #1d5ab3;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    margin-left: 15px;
}
div#players {
    background: rgb(0 0 0 / 14%);
    padding-left: 15px;
    display: flex;
    align-items: center;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
    cursor: pointer;
}
div#players span {
    background: #0000000f;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    margin-left: 15px;
}
div#players {
    border: 1px solid #181f46;
}

div#players span {
    border-left: 1px solid #181f46;
}
div#players {
    border-radius: 8px !important;
}
div#players h1 {
    font-size: 14px !important;
    margin: 0px !important;
}
img{
	display:block;
	max-width:100%;
	height:auto
}
img{
	border:0
}
audio,canvas,iframe,img,svg,video{
	vertical-align:middle
}
.gh-head-logo img{
	max-height:26px
}
.gh-canvas .article-image img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:100%
}
.kg-width-full img{
	width:100%
}
.col-text a img {
    max-width: 25px !important;
    float: left !important;
}
.logo img {
    max-width: 320px;
    margin: 0 auto;
}
.end img {
    max-width: 28px;
}
#site-header {
    padding-bottom: 300px;
    /*background-image: url(https://originrealms.com/_nuxt/img/dc63092.png);*/
    background-image: url(../../attachments/165066778609844224/851449947097792552/bg_noshark.png);
    background-size: cover;
    background-position: bottom;
    position: relative;
}
.home .nav > a img {
    max-width: 25px;
    float: left;
    position: relative;
    top: 0px;
    margin-right: 10px;
}

.home .nav > a img {
    display: none !important;
}
.col-title {
    margin-bottom: 8px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600 !important;
    font-size: 16px;
}
.col-title i {
    margin-right: 15px;
    color: #f2930d;
}
.col-text {
    font-size: 13px;
    color: #bcbcca;
}
.site-foot {
    background: #bcbcca;
    padding: 55px 0px;
    margin-top: 60px;
    border-top: 1px solid #dfdbdb;
}
small {
    font-size: smaller;
}
:root {
    --main-color: #ff9900;
    --main-color-transparent: #ff9900;
    --main-color-darker: #1185d2;
    --secondary-color: #ff9900;
    --sleek-logo-size: 420px;
    --test: 50%;
}
::-webkit-scrollbar-track {
    background: var(--main-color-transparent);
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 4px;
}
::-webkit-scrollbar {
    width: 6px;
}
.pb-10 {
    padding-bottom: 2.5rem;
}
.pb-10 {
    padding-bottom: 2.5rem;
  }
  .bg-gray-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}
.rounded-3xl {
    border-radius: 1.5rem;
}
.rounded-xl {
    border-radius: 0.75rem;
}
.w-full {
    width: 100%;
}
.aspect-\[16\/9\] {
    aspect-ratio: 16/9;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
:after, :before {
    --tw-content: "";
}
.p-3 {
    padding: 0.75rem;
}
.video-list {
    counter-reset: section;
}
.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}
.grid {
    display: grid;
}
.gap-4 {
    gap: 1rem;
}
menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.video-list li {
    position: relative;
    padding: 5px 0 5px 55px;
    font-size: 14px;
    font-weight: 500;
    min-height: 40px;
}
.video-list li, .video-list li:before {
    color: #898786;
    display: flex;
    align-items: center;
}
.gap-x-5 {
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.video-list .active {
    color: #f8c822;
}
.video-list .active:before {
    color: #fff;
    background: #f8c822;
}
.video-list li:before {
    counter-increment: section;
    content: counters(section, ".") " ";
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    top: 50%;
    background: rgba(61, 61, 61, 0.72);
    font-size: 24px;
    font-weight: 600;
    border-radius: 50%;
    justify-content: center;
    transform: translateY(-50%);
}
.text-center {
    text-align: center;
}
.cursor-pointer {
    cursor: pointer;
}
.text-\[\#C48627\] {
    --tw-text-opacity: 1;
    color: rgb(196 134 39 / var(--tw-text-opacity));
}
.text-\[\#C48627\] {
    --tw-text-opacity: 1;
    color: rgb(196 134 39 / var(--tw-text-opacity));
}
element.style {
    text-shadow: 0px 2px 4px #c48627;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.bg-\[\#FFC93D\] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 201 61 / var(--tw-bg-opacity));
}
.rounded-3xl {
    border-radius: 1.5rem;
}
.bg-\[\#2A436A\] {
    --tw-bg-opacity: 1;
    background-color: rgb(42 67 106 / var(--tw-bg-opacity));
  }
  :root {
    --primary: #314d7a;
    --white: #fff;
  }
.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(49 77 122 / var(--tw-bg-opacity));
}
.container {
    max-width: 992px;
}
.container {
    max-width: 768px;
}
.container {
    max-width: 576px;
}
.container {
    width: 100%;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}
.rounded-lg {
    border-radius: 0.5rem;
}
.md\:flex {
    display: flex;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.bg-\[\#2A436A\] {
    --tw-bg-opacity: 1;
    background-color: rgb(42 67 106 / var(--tw-bg-opacity));
}
.gap-5 {
    gap: 1.25rem;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.grid {
    display: grid;
}
.md\:flex-1 {
    flex: 1 1 0%;
}
.gap-x-5 {
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
element.style {
    text-shadow: 0px 2px 4px #314d7a;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.bg-\[\#FFC93D\] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 201 61 / var(--tw-bg-opacity));
}
.text-\[\#C48627\] {
    --tw-text-opacity: 1;
    color: rgb(196 134 39 / var(--tw-text-opacity));
}
.cursor-pointer {
    cursor: pointer;
}
.text-\[\#C48627\] {
    --tw-text-opacity: 1;
    color: rgb(196 134 39 / var(--tw-text-opacity));
}
.cursor-pointer {
    cursor: pointer;
}
.mt-1 {
    margin-top: 0.25rem;
}
.p-3 {
    padding: 0.75rem;
}
.md\:grid-cols-\[minmax\(0\2c 60\%\)\2c minmax\(0\2c 40\%\)\] {
    grid-template-columns: minmax(0, 60%) minmax(0, 40%);
}
.gap-10 {
    gap: 2.5rem;
}
.items-center {
    align-items: center;
}
.grid {
    display: grid;
}
.p-3 {
    padding: 0.75rem;
}
.bg-gray-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}
.video-list {
    counter-reset: section;
}
.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}
.gap-4 {
    gap: 1rem;
}
.grid {
    display: grid;
}
menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.video-list li, .video-list li:before {
    color: #898786;
    display: flex;
    align-items: center;
}
.video-list li {
    position: relative;
    padding: 5px 0 5px 55px;
    font-size: 14px;
    font-weight: 500;
    min-height: 40px;
}
.video-list .active {
    color: #f8c822;
}
.video-list li, .video-list li:before {
    color: #898786;
    display: flex;
    align-items: center;
}
.video-list li {
    position: relative;
    padding: 5px 0 5px 55px;
    font-size: 14px;
    font-weight: 500;
    min-height: 40px;
}